*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: sans-serif;
	background: #386A96;
}

/* Estilos de la Bara de Menus -- */

header{
	width: 100%;
	padding: 10px;
	color: white;
	text-align: center;
	background: #112d43;
}

nav ul{
	list-style: none;
	background: #164884;
	text-align: center;
}

nav ul li{
	display: inline-block;
	padding: 20px;
	transition: all ease-in-out 0.5s;
}

ul li a{
	color: white;
	text-decoration: none;
}

nav ul li:hover{
	background: #C46A10;
}

.Oculto{
	font-size: 20px;
	padding: 16px;
	background: #112d43;
	color: white;
	cursor: pointer;
	display: none;
}


/* Configurando el contenido */

